/* Imports custom font */
@import url(https://fonts.googleapis.com/css?family=Comfortaa);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #244369;
}

.logo {
  cursor: pointer;
}

.nav__links a,
.cta, .cta1,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

/* .nav__links li a:hover {
  color: #0088a9;
} */

.cta {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.modifiedTotal {
  position: relative;
  top: 0;
  left: 0;
  margin-left: 30px;
  margin-top: -23px;
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #244369;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #78A2CC;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #78A2CC;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

/* .overlay a:hover,
.overlay a:focus {
  color: #0088a9;
} */

.close {
  cursor: pointer;
}

.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 906px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  position: relative;
  top: -30px;
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.button {
  border: white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #878eac;}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

#slideBtn:hover{cursor: pointer}

#slideBtn {
  background: transparent;
  outline: none;
  border: 2px solid #111;
  padding: 15px 50px;
  position: absolute;
  top: 75%;
  left: 80%;
  transform: translate(-50%, -50%);
}

/*button:before (attr data-hover)*/
#slideBtn:hover:before{opacity: 1; transform: translate(0,0);}

#slideBtn:before{
  content: attr(data-hover);
  position: absolute;
  top: 1.1em; left: 0;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: .8em;
  opacity: 0;
  transform: translate(-100%,0);
  transition: all .3s ease-in-out;
}

/*button div (button text before hover)*/
#slideBtn:hover div{opacity: 0; transform: translate(100%,0)}

#slideBtn div {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: .8em;
  transition: all .3s ease-in-out;
}

/* Columns for category section */
.categorycol {
  /* Always start from the left */
  float: left;
  /* Each row only allows 4 category due to 25% (X 4 = 100) */
  width: 25%;
  /* Each category haves spaces following the padding below */
  padding: 10px;
}

/* Make sure overlay is positioned correctly */
.overlayposition {
  position: relative;
  width: 100%;
}

/* Category name inside overlay */
.categoryname {
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: .5s ease;
  opacity: 1;
  font-size: 1.5vw;
  padding: 20px;
  text-align: center;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.cta1 {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta1:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

@media only screen and (max-width: 906px) {
  .categorycol {
    width: 50%;
  }
}

.header {
  background-color: #7b93b8;
  color: white;
  text-align: center;
  font-weight: light;
  padding: 10pt;
  text-decoration: none;
  margin-bottom: 5pt;
}

/* Customizes web content */
.content{
  /* Position and z-index ensure images dont overlap in responsive mini nav menu */
  position: absolute;
  z-index: -1;
  text-align: center;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}

/* Styles the buttons */
.shopBtn{
  color: white;
  background-color: black;
  text-align: center;
  font-size: 15px;
  letter-spacing: 2px;
  border: none;
  outline: none;
  padding: 10px 40px;
  margin: auto 5px;
}

/* When user hovers on a button, it will change to specified colour */
.shopBtn:hover, .shopBtn.active {
  background-color: darkslategrey;
}

/* When screen is 1300px buttons will be smaller */
@media screen and (max-width: 1300px) {
  .shopBtn {
    padding: 7px 10px;
    margin: 6px 5px;
  }
}

/* The "allTypes" class is added to the filtered elements */
.allTypes {
  display: block;
}

/* Add padding BETWEEN each column */
.row,
.row > .shopcol {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.shopcol {
  float: left;
  width: 33.33%;
}

/* Content */
.shopcard {
  background-color: #c8d1ec;
  padding: 10px;
}
