/* *{
    padding: 0;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
} */
.centerabout {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about{
    width: 100;
    padding: 78px 0px;
    background-color: #ffffff;
    font-family: "Josefin Sans", sans-serif;
}
  .about img{
    height: auto;
    width: 620px;
}

.about-text{
  width:550px;
}
.main{
  width:1130px;
  max-width: 95;
  margin: Q auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-text h1{
  color: black;
  font-size: 80px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text h5{ /our story
  color: black;
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 25px;
  letter-spacing: 2px;
  font:"Birthstone"
}
.about-text p{
  color: black;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
h5::after { /adding line under the paragraph
  content: " ";
  position: absolute;
  display: block;
  right: 1;
  bottom:0;
  width: 20%;
  height: 2px;
  background-color: white;
}
button{
  background: #89CFF0;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: .4s;
}
button: hover{
  background: transparent;
  border: 2px solid #F0FFFF;
  cursor: pointer;

}

/* Imports custom font */
@import url(https://fonts.googleapis.com/css?family=Comfortaa);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #244369;
}

.logo {
  cursor: pointer;
}

.nav__links a,
.cta, .cta1,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

/* .nav__links li a:hover {
  color: #0088a9;
} */

.cta {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.modifiedTotal {
  position: relative;
  top: 0;
  left: 0;
  margin-left: 30px;
  margin-top: -23px;
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #244369;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #78A2CC;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #78A2CC;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

/* .overlay a:hover,
.overlay a:focus {
  color: #0088a9;
} */

.close {
  cursor: pointer;
}

.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 906px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}
